* 
    box-sizing: border-box
    
body
    font-size: 10px
    background: #ebebeb

.show
    display: block

.wrapper
    min-height: 100vh
    margin: 0 auto
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: 20px