.key
    width: 4rem
    height: 4rem
    background: #555555
    color: #ffffff
    font-size: 2rem
    line-height: 4rem
    text-align: center
    border-radius: 6px
    cursor: pointer
    transition: 30ms ease
    &:hover
        background: #777777